<div class="w3-main" style="margin-left:340px;margin-right:40px">
    <div class="w3-container" id="contact" style="margin-top:75px">
        <h1 class="w3-xxxlarge w3-text-red"><b>Inscription</b></h1>
        <hr style="width:50px;border:5px solid red" class="w3-round">

        <form>
            <div class="w3-section">
                <label for="role">Choisir le rôle:</label>
                <select class="w3-select w3-border" id="role" name="role" required (change)="updateRole($event.target.value)">
                    <option value="" disabled selected>Choisir le rôle</option>
                    <option value="medecin">professionnel de sante</option>
                    <option value="patient">Patient</option>
                </select>
            </div>
            <div *ngIf="role === 'patient'">
                <div class="w3-section" *ngIf="role === 'patient'">
                    <div class="w3-section">
                        <label>Nom</label>
                        <input class="w3-input w3-border" type="text" name="nom" required>
                    </div>
                    <div class="w3-section">
                        <label>Prénom</label>
                        <input class="w3-input w3-border" type="text" name="prenom" required>
                    </div>
                    <div class="w3-section">
                        <label>Adresse</label>
                        <input class="w3-input w3-border" type="text" name="adresse" required>
                    </div>
                    <div class="w3-section">
                        <label>Email</label>
                        <input class="w3-input w3-border" type="email" name="email" required>
                    </div>
                    <div class="w3-section">
                        <label>Numéro d'identité</label>
                        <input class="w3-input w3-border" type="text" name="num_identite" required>
                    </div>
                    <div class="w3-section">
                        <label>Matricule employé</label>
                        <input class="w3-input w3-border" type="text" name="matricule_employe" required>
                    </div>
                    <div class="w3-section">
                        <label>Téléphone</label>
                        <input class="w3-input w3-border" type="text" name="telephone" required>
                    </div>
                    <div class="w3-section">
                        <label>Date de naissance</label>
                        <input class="w3-input w3-border" type="date" name="dateNaissance" required>
                    </div>
                    <div class="w3-section">
                        <label>Poids (kg)</label>
                        <input class="w3-input w3-border" type="number" name="poids_kg" required>
                    </div>
                    <div class="w3-section">
                        <label>Taille (cm)</label>
                        <input class="w3-input w3-border" type="number" name="taille_cm" required>
                    </div>
                    <div class="w3-section">
                        <label>Mot de passe</label>
                        <input class="w3-input w3-border" type="password" name="mdp" required>
                    </div>
                    <div class="w3-section">
                        <label>Numéro de sécurité sociale</label>
                        <input class="w3-input w3-border" type="text" name="num_sécurité_social">
                    </div>
                </div>


            </div>
            <div *ngIf="role === 'medecin'">
                <div class="w3-section" *ngIf="role === 'medecin'">
                    <div class="w3-section">
                        <label>Titre</label>
                        <input class="w3-input w3-border" type="text" name="titre" required>
                    </div>
                    <div class="w3-section">
                        <label>Métier</label>
                        <input class="w3-input w3-border" type="text" name="metier" required>
                    </div>
                    <div class="w3-section">
                        <label>Nom</label>
                        <input class="w3-input w3-border" type="text" name="nom" required>
                    </div>
                    <div class="w3-section">
                        <label>Prénom</label>
                        <input class="w3-input w3-border" type="text" name="prenom" required>
                    </div>
                    <div class="w3-section">
                        <label>Adresse</label>
                        <input class="w3-input w3-border" type="text" name="adresse" required>
                    </div>
                    <div class="w3-section">
                        <label>Mot de passe</label>
                        <input class="w3-input w3-border" type="password" name="mdp" required>
                    </div>
                    <div class="w3-section">
                        <label>Numéro d'identité</label>
                        <input class="w3-input w3-border" type="text" name="numidentite" required>
                    </div>
                    <div class="w3-section">
                        <label>Email</label>
                        <input class="w3-input w3-border" type="email" name="email" required>
                    </div>
                    <div class="w3-section">
                        <label>Téléphone</label>
                        <input class="w3-input w3-border" type="text" name="Telephone" required>
                    </div>
                    <div class="w3-section">
                        <label>RPPS</label>
                        <input class="w3-input w3-border" type="text" name="RPPS" required>
                    </div>
                    <div class="w3-section">
                        <label>Fax</label>
                        <input class="w3-input w3-border" type="text" name="Fax">
                    </div>

                </div>
            </div>


            <button (click)="register()" type="submit" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom">Registre</button>
        </form>

    </div>
</div>
