<div class="w3-main" style="margin-left:340px;margin-right:40px">
    <div class="w3-container" id="contact" style="margin-top:75px">
        <h1 class="w3-xxxlarge w3-text-red"><b>Table</b></h1>
        <hr style="width:50px;border:5px solid red" class="w3-round">

        <div class="container-fluid">

            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Tous les patients</h6>
                </div>

                <div class="card-body">
                    <a routerLink="/admin/addpatient" style="float: right;" class="btn btn-primary">Ajouter un patient</a>
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Nom</th>
                                        <th>Prénom</th>
                                        <th>Email</th>
                                        <th>Numéro d'identité</th>
                                        <th>Matricule employé</th>
                                        <th>Adresse</th>
                                        <th>Téléphone</th>
                                        <th>Date de naissance</th>
                                        <th>Poids (kg)</th>
                                        <th>Taille (cm)</th>
                                        <th>Numéro sécurité sociale</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Doe</td>
                                        <td>John</td>
                                        <td>john.doe@example.com</td>
                                        <td>1234567890</td>
                                        <td>EMP123</td>
                                        <td>123 Main Street</td>
                                        <td>987-654-3210</td>
                                        <td>1990-01-01</td>
                                        <td>70</td>
                                        <td>180</td>
                                        <td>123-45-6789</td>
                                    </tr>
                                </tbody>
                            </table>

                            <tbody>
                                <tr *ngFor="let patient of patients">
                                    <td>{{ patient.nom }}</td>
                                    <td>{{ patient.prenom }}</td>
                                    <td>{{ patient.email }}</td>
                                    <td>{{ patient.num_identite }}</td>
                                    <td>{{ patient.matricule_employe }}</td>
                                    <td>{{ patient.adresse }}</td>
                                    <td>{{ patient.telephone }}</td>
                                    <td>{{ patient.dateNaissance }}</td>
                                    <td>{{ patient.poids_kg }}</td>
                                    <td>{{ patient.taille_cm }}</td>
                                    <td>{{ patient.num_secu_sociale }}</td>
                                    <td>
                                        <button class="btn btn-success" (click)="update(patient)">Modifier</button>
                                        <button class="btn btn-info" (click)="details(patient)">Détails</button>
                                        <button class="btn btn-danger" (click)="delete(patient)">Supprimer</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
