
<nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
    <div class="w3-container">
      <h3 class="w3-padding-64"><b>Company<br>Name</b></h3>
    </div>
    <div class="w3-bar-block">
      <a routerLink="/home" class="w3-bar-item w3-button w3-hover-white">Home</a>
      <a routerLink="/authentf" class="w3-bar-item w3-button w3-hover-white">Login</a>
    <a routerLink="/register" class="w3-bar-item w3-button w3-hover-white">Register</a>
    <a routerLink="/patient" class="w3-bar-item w3-button w3-hover-white">Patient</a></div>
</nav>

  <!-- Top menu on small screens -->
  <header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
    <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">&#9776;</a>
    <span>Company Name</span>
  </header>

<router-outlet></router-outlet>
