<div class="w3-main" style="margin-left:340px;margin-right:40px">
<div class="w3-container" id="contact" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>login</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">


      <div class="w3-section">
        <label>Email</label>
        <input class="w3-input w3-border" type="email" name="email" required>
      </div>
      <div class="w3-section">
        <label>Password</label>
        <input class="w3-input w3-border" type="password" name="password" required>
      </div>

      <button type="submit" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom">login</button>

  </div>
</div>
 