<div class="layout-footer">
    <img src="assets/layout/images/{{app.darkMode ? 'logo-white' : 'logo-dark'}}.svg" alt="Logo" height="20" class="mr-2"/>
    by 
    <span class="font-medium ml-2">STIMED</span>
</div>